@if(wishlist && wishlist.length){
<section>
  <article>
    <h2>Ma Liste de Souhaits</h2>
    <ul>
      @for(product of wishlist; track product){
      <li>
        <div class="wishlist-card">
          <img [src]="product.img_url" [alt]="product.title">
          <p>{{ product.title }}</p>
          <p>{{ product.price }}</p>
          <button (click)="removeFromWishlist(product)">Retirer</button>
        </div>
      </li>
      }
    </ul>
    <button (click)="clearWishlist()">Vider la liste de souhaits</button>
  </article>
</section>
}
@else {
<app-empty-wishlist></app-empty-wishlist>
}