header {
    background-color: var(--color-brown);
    color: white;
    height: 72px;
    width: calc(96% - 10px); /* Utilisation de calc pour ajuster la largeur */
    margin: 17px 0 0 30px; /* Combinaison des propriétés margin */
    border-radius: 12px;
    position: fixed;
    z-index: 3;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

span{
    background-color: var(--color-yellow);
    color: white;
    padding: 0.1rem 0.45rem;
    border-radius: 100rem;
    font-size: 0.9rem;
}

.logo{
    height: 57px;
    
}

.icon-nav{
    display: flex;
    flex-direction: row;
}



