<header>
    <nav>
        <ul>
            <li>
                <a routerLink="/">
                    <img src="/assets/icons/logo.png" alt="retour à l'accueil">
                </a>
            </li>

            <!-- <div> -->
            <li>
                <a routerLink="/contact">
                    <img src="/assets/icons/info.png" alt="contact">
                </a>
            </li>
            <li>
                <a routerLink="/wishlist">
                    <img src="/assets/icons/favoris.png" alt="wishlist">
                </a>
            </li>
            <li>
                <a routerLink="/user">
                    <img src="/assets/icons/user.png" alt="espace utilisateur">
                </a>
            </li>
            <li>
                <a routerLink="/cart">
                    <img src="/assets/icons/shopping.png" alt="panier">
                </a>
            </li>
            <!-- </div> -->
        </ul>
    </nav>
</header>