<header>
    <nav class="desktop-nav">
        <ul class="menu">
            @if(!displayElement){
            <li>
                <app-search-bar></app-search-bar>
            </li>
            }
            <li>
                <a routerLink="/">
                    <img class="logo" src="/assets/icons/logo.png" alt="retour à l'accueil">
                </a>
            </li>
            @if(!displayElement){
            <div class="icon-nav">
                <ul>
                    <li>
                        <a routerLink="/contact">
                            <img src="/assets/icons/info.png" alt="contact">
                        </a>
                    </li>
                    <li>
                        <a routerLink="/wishlist">
                            <img src="/assets/icons/nav-favoris.png" alt="wishlist">
                        </a>
                    </li>
                    <li>
                        <a routerLink="/user-space">
                            <img src="/assets/icons/user.png" alt="espace utilisateur">
                        </a>
                    </li>
                    <li>
                        <a routerLink="/cart">
                            <img src="/assets/icons/shopping.png" alt="panier">
                            @if(cart && cart.items.length){
                            <span>{{cart.totalCount}}</span>
                            }
                        </a>
                    </li>
                </ul>
            </div>
            }
        </ul>
    </nav>
    

    <nav class="mobile-nav">
        <div class="mobile-header">
            <a routerLink="/">
                <img class="logo" src="/assets/icons/logo.png" alt="retour à l'accueil">
            </a>
            <div id="toggle" (click)="toggleMenu()">
                <span></span>
            </div>
        </div>
        <div id="menu" [class.show]="isMenuOpen">
            <ul>
                <li><a routerLink="/contact">Contact</a></li>
                <li><a routerLink="/wishlist">Wishlist</a></li>
                <li><a routerLink="/user-space">Espace utilisateur</a></li>
                <li><a routerLink="/cart">Panier</a></li>
            </ul>
        </div>
    </nav>
</header>

