.container{
    text-align: center;
    margin-top: 10%;
    border: solid 4px var(--color-red);
    border-radius: 37px;
    width: 65rem;
    padding: 5%;
}

section {
    display: flex;
    justify-content: center;
    color: var(--color-red);
}

.is-invalid {
    border-color: #e3342f;
  }
  
  .invalid-feedback {
    color: #e3342f;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    text-align: start;
  }
  