<section>
    <article>
        <h2>Nouveau client ?</h2>
        <p>Pour vos achats déco, votre compte est là pour vous !</p>
        <ul>
            <li><img src="assets/icons/order-details.png" alt="">
                <p>Consultez les détails de votre commande</p>
            </li>
            <li><img src="assets/icons/newsletter.png" alt="">
                <p>Restez informé de nos offres spéciales</p>
            </li>
            <li><img src="assets/icons/wishlist.png" alt="">
                <p>Retrouvez vos coups de cœur </p>
            </li>
        </ul>
        <button routerLink="/sign-up">Créer un compte</button>
    </article>
</section>
