<div class="container">
    @if(product.id){
        <ul>
            <li><img [src]="product.img_url" [alt]="product.title"></li>
            <li><p>{{ product.title }}</p></li>
            <li><p>{{product.price}}</p></li>
            <li><button class="button-filled" (click)="addToCart()">Ajouter au panier</button></li>
            <li><button class="button-empty">Ajouter au favoris</button></li>
            <li><p>{{product.description}}</p></li>
            <li><p>{{product.dimension}}</p></li>
            <li><p>{{product.features}}</p></li>
        </ul>
    }
</div>
