input{
    border-radius: 12px;
    height: 44px;
    width: 23rem;
    border: none;
}

button{
    border: none;
    background: none;
    position: relative;
    right: 2.5rem;
    bottom: -0.6rem;
}

