.product-img{
    border-radius: 12px;
    box-shadow: 4px 5px 4px #ababab;
    width: 447px;
    height: 350px;
}

.favoris-img{
    position: absolute;
    margin-left: 24rem;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 1em;
    width: 95%;
    margin: 0 3em;
}

p{
    padding-top: 7.5px;
}

:root {
    --color-blue: rgb(78, 101, 203);
    --color-purple: rgb(113, 75, 128);
    --color-pink: rgb(203, 66, 116);
  
    --transition-time: 500ms;
    --transition-ease: cubic-bezier(.1, .7, .8, .3);
  }
  
  body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(78, 101, 203, 0.1);
  }
  
  .toggle {
    display: flex;
    width: 48px; /* Ajusté pour s'adapter à la taille de l'image */
    height: 48px; /* Ajusté pour s'adapter à la taille de l'image */
    border-radius: 50px;
    place-items: center;
    place-content: center;
    position: absolute;
    margin-left: 24rem;
  }
  
  .toggle:hover {
    background-color: rgba(203, 66, 116, 0.1);
  }
  
  #heart-check {
    position: absolute;
    visibility: hidden;
  }
  
  #heart {
    cursor: pointer;
  }
  
  #heart svg {
    width: 48px;
  }
  
  #stroke {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    stroke-linecap: round;
    stroke-width: 2.5;
  }
  
  #initial {
    stroke-width: 1.5;
    stroke: var(--color-pink);
    fill: transparent;
  }
  
  #heart-check:checked + #heart svg {
    transform-origin: 50% 50%;
    animation: heart var(--transition-time) cubic-bezier(.64, -1.5, .64, 1.5);
    animation-fill-mode: forwards;
  }
  
  #heart-check:checked + #heart #initial {
    display: none;
  }
  
  #heart-check:checked + #heart #stroke {
    animation: stroke var(--transition-time) var(--transition-ease);
    animation-fill-mode: forwards;
  }
  
  @keyframes heart {
    from {
      transform: scale(1)
    }
    78% {
      transform: scale(1.25)
    }
    to {
      transform: scale(1)
    }
  }
  
  @keyframes stroke {
    from {
      stroke: var(--color-blue);
      fill: transparent;
    }
    50% {
      stroke: var(--color-purple);
    }
    85% {
      fill: transparent;
    }
    to {
      stroke-dashoffset: 0;
      stroke: var(--color-pink);
      fill: var(--color-pink);
    }
  }
  
  .product-img {
    border-radius: 12px;
    box-shadow: 4px 5px 4px #ababab;
    width: 447px;
    height: 350px;
  }
  
  .favoris-img {
    position: absolute;
    margin-left: 24rem;
  }
  
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 1em;
    width: 95%;
    margin: 0 3em;
  }
  
  p {
    padding-top: 7.5px;
  }
  
