<div class="container">
    <h1>Mentions Légales</h1>

    <h2>Éditeur du Site</h2>
    <h3>HarmonyHome</h3>
    <p>Adresse : 14 rue de la baune, 93100 Montreuil<br>
    Téléphone : 07.68.15.96.20<br>
    Email : christelle.lopes92&#64;gmail.com</p>
    <p>Directrice de la publication : LOPES Christelle</p>

    <h2>Hébergement</h2>
    <p>Le site HarmonyHome est hébergé par :</p>
    <h3>[Nom de l'hébergeur]</h3><br>
    <p>Adresse : [Adresse de l'hébergeur]<br>
    Téléphone : [Numéro de téléphone de l'hébergeur]</p>

    <h2>Propriété Intellectuelle</h2>
    <p>L'ensemble du contenu présent sur le site HarmonyHome, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société HarmonyHome à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.</p>
    <p>Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de HarmonyHome. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.</p>

    <h2>Conditions d'utilisation</h2>
    <p>L'utilisation du site HarmonyHome implique l'acceptation pleine et entière des conditions générales d'utilisation décrites ci-après. Ces conditions d'utilisation sont susceptibles d'être modifiées ou complétées à tout moment, les utilisateurs du site HarmonyHome sont donc invités à les consulter de manière régulière.</p>

    <h2>Protection des Données Personnelles</h2>
    <p>HarmonyHome s'engage à ce que la collecte et le traitement de vos données, effectués à partir du site harmonyhome.com, soient conformes au règlement général sur la protection des données (RGPD) et à la loi Informatique et Libertés.</p>
    <p>Pour toute information ou exercice de vos droits Informatique et Libertés sur les traitements de données personnelles gérés par HarmonyHome, vous pouvez contacter son délégué à la protection des données (DPO) :</p>
    <h3>Délégué à la Protection des Données</h3><br>
    <p>Email : christelle.lopes92&#64;gmail.com<br>
    Adresse : 14 rue de la baune, 93100 Montreuil</p>

    <h2>Responsabilité</h2>
    <p>HarmonyHome met à disposition des utilisateurs du site web harmonyhome.com des informations disponibles et vérifiées, mais ne saurait être tenu pour responsable de l’absence de disponibilité de certaines informations.</p>
    <p>De plus, une partie du contenu proposé sur ce site est générée par les utilisateurs. HarmonyHome ne saurait être tenu pour responsable des informations transmises par ces utilisateurs.</p>

    <h2>Cookies</h2>
    <p>Le site HarmonyHome peut-être amené à vous demander l’acceptation des cookies pour des besoins de statistiques et d’affichage. Un cookie est une information déposée sur votre disque dur par le serveur du site que vous visitez.</p>

    <h2>Droit applicable</h2>
    <p>Tout litige en relation avec l’utilisation du site harmonyhome.com est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Montreuil.</p>
</div>