<main>
    <section class="parallax container-top">
        <div class="text">
            <h1>Bienvenue chez HarmonyHome, pour une décoration harmonieuse</h1>
            <p>Découvrez HarmonyHome : un design élégant pour chaque pièce. Transformez votre intérieur en un havre de sérénité et de beauté avec notre sélection inspirante.</p>
            <button class="button-filled" routerLink="/category">
                <p>Accèder à la boutique</p>
            </button>
        </div>
        <div class="arrow-container">
            <img src="assets/icons/icon-nav-arrow-down.png" alt="Scroll Down" class="down-arrow">
        </div>
        <img src="assets/img/home-img.png" alt="">
    </section>
   
    <section class="overlapping-section">
    <a routerLink="/category">
        <h2 class="title">Nos Catégories</h2>
        <div class="parallax parallax1">
            <img src="assets/img/category-img.png" alt="">
            <img src="assets/img/category-img1.png" alt="">
            <img src="assets/img/category-img2.png" alt="">
            <img src="assets/img/category-img3.png" alt="">
        </div>
    </a>
    </section>

    <app-slider></app-slider>
</main>
