<main>
    <div class="parallax top">
        <div class="text">
            <h1>Porem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
            <p>Korem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan.</p>
        </div>
        <img src="assets/img/home-img.png" alt="">
    </div>
    <a routerLink="/category">
        <h2 class="title">Nos Catégories</h2>
        <div class="parallax parallax1">
            <img src="assets/img/category-img.png" alt="">
            <img src="assets/img/category-img1.png" alt="">
            <img src="assets/img/category-img2.png" alt="">
            <img src="assets/img/category-img3.png" alt="">
        </div>
    </a>
</main>
