<section>
    <article class="container">
        <img src="assets/img/cart-empty.png" alt="Panier vide">
        <h2>Votre panier semble un peu léger !</h2>
        <p>Nous avons une liste d'idées irrésistibles pour bien le remplir.</p>
        <div>
            <button routerLink="/category" class="button-filled space-button">
                <p>Inspiration</p>
            </button>
            <button routerLink="/user-space" class="button-hover button-empty space-button">
                <p>Se connecter</p>
            </button>
        </div>
    </article>
</section>