@if(cart && cart.items.length){
    <section>
        <h2>Mon Panier</h2>
        <ul class="container">
            <p>
                <a (click)="clearCart()">Vider le panier</a>
            </p>
            @for(cartItem of cart.items; track cart.items){
            <li>
                <div>
                    <img class="product-img" [src]="cartItem.product.img_url" [alt]="cartItem.product.title">
                </div>
                <div>
                    <p>{{cartItem.product.title}}</p>
                    <p>{{cartItem.product.dimension}}</p>
                </div>
                <div class="flex-direction">
                    <p>{{cartItem.price | currency: 'EUR'}}</p>
                    <select #quantitySelect [value]="cartItem.quantity"
                        (change)="changeQuantity(cartItem, quantitySelect.value)">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <button class="remove-button" (click)="removeFromCart(cartItem)">
                        <img src="assets/icons/delete.png" alt="Supprimer">
                    </button>
                </div>
            </li>
            }
        </ul>
        <div>
            <p class="total-price">{{cart.totalPrice | currency: 'EUR'}}</p>
            <button class="button-filled" routerLink="/delivery-form">Passer commande</button>
            <p>
                <a routerLink="/category">Continuer mes achats</a>
            </p>
    
        </div>
        <p class="product-count">Total d’article : {{cart.totalCount}}</p>
    </section>
    }
    
    @else {
    <app-empty-cart></app-empty-cart>
    }