@if(cart && cart.items.length){
    <div class="container">
        <h2>Mon Panier</h2>
        <ul>
            @for(cartItem of cart.items; track cart.items){
                <li>
                    <div>
                        <img [src]="cartItem.product.img_url" [alt]="cartItem.product.title">
                    </div>
                    <div>
                       <p>{{cartItem.product.title}}</p> 
                    </div>
                    <div>
                       <p>{{cartItem.price}}</p> 
                    </div>
                    <div>
                        <select #quantitySelect [value]="cartItem.quantity" (change)="changeQuantity(cartItem, quantitySelect.value)">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div>
                        <button class="remove-button" (click)="removeFromCart(cartItem)">
                            <img src="assets/icons/delete.png" alt="Supprimer">
                        </button>
                    </div>
                </li>
            }
        </ul>
        <div class="checkout">
            <div>
                <p class="product-count">{{cart.totalCount}}</p>
                <p class="total-price">{{cart.totalPrice}}</p>
            </div>
            <!-- <a routerLink="/summary">Proceed to Checkout</a> -->
        </div>
    </div>
}

@else {
    <app-empty-cart></app-empty-cart>
}
