.nav-category {
    margin-top: 158px;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2%;
    align-items: center;
    padding-bottom: 4rem;
}

.item .style-icon {
    border-bottom: solid transparent 3px; /* Réserve l'espace pour le bord */
    transition: border-color 0.3s ease, font-weight 0.3s ease;
}

.item.style-icon-active .style-icon {
    border-bottom: solid black 3px;  /* Assurez-vous que le bord est visible */
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
}

p {
    font-size: 12px;
}
