.nav-category{
    margin-top: 158px;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2%;
    align-items: center;
    padding-bottom: 4rem;
}

.item:hover .style-icon, .style-icon-active {
    border-bottom: solid black 3px;
    font-weight: bold;

}
