<nav>
    <ul class="flex">
        <li>
            <a routerLink="">
                <img src="/assets/icons-category/all-categories.png" alt="Toutes les catégorie">
                <p>Toutes les catégories</p>
            </a>
        </li>
        <li>
            <a routerLink="">
                <img src="/assets/icons-category/salon.png" alt="Salon">
                <p>Salon</p>
            </a>
        </li>
        <li>
            <a routerLink="">
                <img src="/assets/icons-category/cuisine.png" alt="Cuisine">
                <p>Cuisine</p>
            </a>
        </li>
        <li>
            <a routerLink="">
                <img src="/assets/icons-category/dining-room.png" alt="Salle à manger">
                <p>Salle à manger</p>
            </a>
        </li>
        <li>
            <a routerLink="">
                <img src="/assets/icons-category/chambre.png" alt="Chambre">
                <p>Chambre</p>
            </a>
        </li>
        <li>
            <a routerLink="">
                <img src="/assets/icons-category/office.png" alt="Bureau">
                <p>Bureau</p>
            </a>
        </li>
        <li>
            <a routerLink="">
                <img src="/assets/icons-category/toilet-room.png" alt="Salle de bain">
                <p>Salle de bain</p>
            </a>
        </li>
        <li>
            <a routerLink="">
                <img src="/assets/icons-category/textiles.png" alt="Textiles">
                <p>Textiles</p>
            </a>
        </li>
        <li>
            <a routerLink="">
                <img src="/assets/icons-category/deco-murale.png" alt="Déco murales">
                <p>Déco murales</p>
            </a>
        </li>
        <li>
            <a routerLink="">
                <img src="/assets/icons-category/light.png" alt="Luminaires">
                <p>Luminaires</p>
            </a>
        </li>
        <li>
            <a routerLink="">
                <img src="/assets/icons-category/accessoires.png" alt="Accessoires">
                <p>Accessoires</p>
            </a>
        </li>
    </ul>
</nav>