:root{
    --color-brown: #5E2119;
    --color-red: #4D0B0A;
    --color-dew: #EAE1DF;
    --color-yellow: #CB8E00;
    --color-mole: #B59F9A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    cursor: pointer;
}

p{
    font-family: 'Lora', serif;
    font-size: 17px;
}

::placeholder{
    font-family: 'Lora', serif;
}

h1, h2, h3, h4{
    font-family: 'Cormorant Unicase', serif;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 25px;
}

img{
    object-fit: cover;
}

.style-image {
    transition: transform 0.5s ease; /* Transition douce pour l'effet de zoom */
    display: block; /* Pour éviter des problèmes d'espacement sous l'image */
    width: 100%; /* Assure que l'image s'adapte à la largeur de son conteneur */
    
}

.style-item:hover .style-image{
    transform: scale(1.05); /* Zoom légèrement sur l'image au survol */
}

/* .button-filled{}
.button-empty{} */

div,section,main,header,nav{
    border: 2px solid transparent;
}

li{
    list-style: none;
}

.button-filled {
    border: none;
    border-radius: 12px;
    height: 45px;
    background-color: var(--color-red);
    color: white;
}

.input-without-border {
    border-radius: 12px;
    height: 44px;
    width: 382px;
    border: none;
}

.input-with-border {
    border-radius: 12px;
    height: 44px;
    width: 382px;
    border: var(--color-red) solid 2px;
}

input:focus {
    outline: none;
    padding: 1rem;
} 

input {
    padding: 1rem;
}

::placeholder {
    font-size: clamp(14px, 2vw, 16px); /* S'ajuste entre 14px et 16px en fonction de la largeur de la fenêtre */
}