<section>
    <article>
        <h2>Nouveau client ?</h2>
        <form [formGroup]="signUpForm">
            <div>
                <input class="input-with-border" placeholder="Prénom" type="text" formControlName="firstname" [class.hasError]="validationError.includes('firstname')">
            </div> 
            <div>
                <input class="input-with-border" placeholder="Nom" type="text" formControlName="name" [class.hasError]="validationError.includes('name')">
            </div>
            <div>
                <input class="input-with-border" placeholder="Email" type="text"  formControlName="email" [class.hasError]="validationError.includes('email')">
            </div>
            <div>
                <input class="input-with-border" placeholder="Mot de Passe" type="password" formControlName="password" [class.hasError]="validationError.includes('password')">
            </div>
            <div>
                <input class="input-with-border" placeholder="Téléphone*" type="tel" formControlName="phone" [class.hasError]="validationError.includes('phone')">
            </div>
            <button class="button-filled" type="submit" (click)="onSignUp()">Valider</button>
        </form>
    </article>
</section>