<section>
    <article>
      <h2>Nouveau client ?</h2>
      <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
        <div class="form-group">
          <input class="input-with-border" placeholder="Prénom" type="text" formControlName="firstname" [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }">
          @if(submitted && f['firstname'].errors){
          <div class="invalid-feedback">
            @if(f['firstname'].errors['required']){
            <div>Le prénom est requis</div>
            }
            @if(f['firstname'].errors['pattern']){
            <div>Prénom invalide. Utilisez uniquement des lettres, accents et tirets.</div>
            }
          </div>
          }
        </div> 
        <div class="form-group">
          <input class="input-with-border" placeholder="Nom" type="text" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
          @if(submitted && f['name'].errors){
          <div class="invalid-feedback">
            @if(f['name'].errors['required']){
            <div>Le nom est requis</div>
            }
            @if(f['name'].errors['pattern']){
            <div>Nom invalide. Utilisez uniquement des lettres, accents et tirets.</div>
            }
          </div>
          }
        </div>
        <div class="form-group">
          <input class="input-with-border" placeholder="Email" type="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
          @if(submitted && f['email'].errors){
          <div class="invalid-feedback">
            @if(f['email'].errors['required']){
            <div>L'email est requis</div>
            }
            @if(f['email'].errors['email']){
            <div>L'email n'est pas valide</div>
            }
          </div>
          }
        </div>
        <div class="form-group" style="position: relative;">
          <input class="input-with-border" placeholder="Mot de Passe" [type]="hidePassword ? 'password' : 'text'" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
          <img src="assets/icons/hide.png" alt="Afficher/Masquer le mot de passe" (click)="togglePasswordVisibility()" class="togglePassword">
          @if(submitted && f['password'].errors){
          <div class="invalid-feedback">
            @if(f['password'].errors['required']){
            <div>Le mot de passe est requis</div>
            }
            @if(f['password'].errors['pattern']){
            <div>Mot de passe invalide. <br> Doit contenir : <br> au moins 12 caractères, <br> une majuscule, <br> une minuscule, <br> un chiffre <br> et un caractère spécial.</div>
            }
          </div>
          }
        </div>
        <div class="form-group">
          <input class="input-with-border" placeholder="Téléphone*" type="tel" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }">
          @if(submitted && f['phone'].errors){
          <div class="invalid-feedback">
            @if(f['phone'].errors['required']){
            <div>Le téléphone est requis</div>
            }
            @if(f['phone'].errors['pattern']){
            <div>Téléphone invalide</div>
            }
          </div>
          }
        </div>
        <button class="button-filled" type="submit"> Valider </button>
      </form>
    </article>
  </section>
  <app-toast></app-toast>
  