/* Styles pour le composant d'inscription */
article {
    border-radius: 37px;
    padding: 2rem; /* Ajout de padding pour l'espacement interne */
    border: 2px solid var(--color-red); /* Ajouter une bordure */
    background-color: white; /* Assurer le fond blanc */
    max-width: 78%; /* Largeur maximale pour limiter l'expansion */
    margin: 158px auto; /* Centrer l'article */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajouter une ombre pour un effet d'élévation */
}

article h2 {
    margin-bottom: 20px; /* Espace sous le titre */
    font-size: 24px; /* Ajuster la taille du titre */
}

.input-with-border {
    border-radius: 12px;
    width: 100%;
    max-width: 65rem; /* Largeur maximale pour limiter l'expansion */
    border: var(--color-red) solid 2px;
    padding: 1rem;
    margin-bottom: 15px;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Correction du positionnement du toggle password */
form div {
    position: relative;
    width: 100%;
    max-width: 65rem;
}
